### Python ###
__pycache__/
*.py[cod]
*$py.class
*.so

### Среды (Виртуальные окружения) ###
# Игнорируем всё, что связано с локальными библиотеками
.env
.venv
env/
venv/
ENV/
.env.docker
.env.local
.env.production
serviceAccountKey.json

### Базы данных ###
# Локальные БД не должны быть в репозитории
*.db
*.sqlite3
*.sqlite3-journal

### Инструменты миграций (Alembic) ###
# Сам код миграций (versions/) НУЖНО пушить, но конфиг с паролем — нет
alembic.ini

### Docker ###
.dockerignore
# Если используешь docker-compose, файлы данных контейнеров (если они в папке проекта)
# data/ (раскомментируй, если БД сохраняется в папку проекта)

### PyCharm / VS Code ###
.idea/
.vscode/
*.swp
*.swo

### Распространение / Логи ###
*.log
build/
dist/
*.egg-info/
requirements.txt.bak

### Тестирование ###
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/